<%= form_for([room.account, room, message], remote: true) do |form| %>
  <div class="fixed w-full flex justify-between bg-white" style="bottom: 0px;">

    <%= form.hidden_field :reference, value: '' %>
    <%= form.hidden_field :room_id, value: room.id %>
    <%= form.text_field :body, id: "chat-box", class: 'flex-grow m-2 py-1 px-4 mr-1 rounded-full border border-gray-300 bg-gray-200 resize-none', placeholder: 'Type here...', style: "outline: none;", data: {typing: false} %>
    <%= button_tag(type: 'submit', class: "m-2", id: "chat-button", style: "outline: none;") do %>

    <svg class="transform rotate-90 text-blue-400 w-12 h-12 py-2 mr-2" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path></svg>
     
    <% end %>

  </div>
<% end %>

<span id="message-template" class="invisible fade-in"><%= render 'messages/message', message: Message.new(room_id: room.id, user_id: current_user.id, body: ""), primary: true, ref: '', status: 'pending' %></span>