<div class="w-full inline-block" id="<%= ref %>">
    <div data-user-id="<%= message.user.id %>" class="message <%= primary ? 'bg-blue-300 float-right' : 'bg-gray-300 float-left' %>  mx-4 my-1 p-2 rounded-lg" style="max-width: 75%;">
        <span class="body"><%= sanitize(message.body.to_s.gsub(/\n/, '<br/>').html_safe) %></span> - <i><%= message.user.email %> <span class="status"><%= status %></span></i>
    </div>
</div>