<h1>Hello World!</h1>

<hr>


<p class="navbar-text float-right">
<% if user_signed_in? %>
  User Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  User
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>


<hr>

<p class="navbar-text float-right">
<% if account_signed_in? %>
  Account Logged in as <strong><%= current_account.email %></strong>.
  <%= link_to 'Edit profile', edit_account_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_account_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  Account
  <%= link_to "Sign up", new_account_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_account_session_path, :class => 'navbar-link'  %>
<% end %>
</p>