<p id="notice"><%= notice %></p>

<h1>Rooms by <%= @account.email %></h1>  

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to 'Show', account_room_path(room.account, room) %></td>
        <td><%#= link_to 'Edit', edit_room_path(room) %></td>
        <td><%#= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Room', new_room_path %>




<hr>


<p class="navbar-text float-right">
<% if user_signed_in? %>
  User Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  User
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>


<hr>

<p class="navbar-text float-right">
<% if account_signed_in? %>
  Account Logged in as <strong><%= current_account.email %></strong>.
  <%= link_to 'Edit profile', edit_account_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_account_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  Account
  <%= link_to "Sign up", new_account_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_account_session_path, :class => 'navbar-link'  %>
<% end %>
</p>